@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-amber-50 text-gray-900;
        background-image: url('/images/sweet_pattern.png');
        background-size: 300px;
        background-repeat: repeat;
        background-blend-mode: soft-light;
    }
}

@layer utilities {
    .text-brand-red {
        @apply text-red-700;
    }

    .bg-brand-red {
        @apply bg-red-700;
    }

    .text-brand-gold {
        @apply text-yellow-600;
    }

    .border-brand-gold {
        @apply border-yellow-500;
    }
}